<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mens Eyeware 1</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="E:\Myntra\assests\Myntra_logo2.png" width="25px"></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html"><b>WOMEN</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="men.html"><b>MEN</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="kids.html"><b>KIDS</b></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search for products" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </nav>

<!--    <div class="container" id="product1">-->
<!--        <div class="row text-center">-->
<!--            <div class="col-sm-7">-->
<!--                <h1>Product</h1>-->
<!--                <img src="D:\Hack Your Way\Headphones\static\glasses.png" alt="product image">-->
<!--            </div>-->
<!--            <div class="col-sm-5 text-center py-5">-->
<!--                <h1>Details</h1>-->
<!--                <h4><b>Zaveri Pearls</b></h4>-->
<!--                <h6>Traditional Stone Studded & Pearls Jewellery Set</h6>-->
<!--                <h4><b>Rs. 399</b></h4>-->
<!--                <p>Inclusive of all taxes</p>-->
<!--                <a href="#" class="btn btn-danger">Try it out!</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</body>
</html>